{% extends "pages/base.html" %}

{% block content %}

<div class="pure-g">

    <div class="pure-u-md-1-2 half-and-half">
        <p>
        If you have any questions or  inquires,<br>
        Please send them through, either via email or calling below.<br>
        or by filling in the form to your right.
        </p>
        <ul id="contactDetails">
            <li><a href="mailto:justin@fuhrmeister-clarke.com">Email</a></li>
            <li><a href="tel:+61457342051">Call</a></li>
        </ul>
        
        
    </div>

    <div class="pure-u-md-1-2 half-and-half">
        <form class="pure-form pure-form-stacked" action="" enctype="multipart/form-data" method="post">
        <!--form action="//httpbin.org/post" enctype="multipart/form-data" method="post"-->
            {% csrf_token %}

            {% for field in form %}
                <div class="fieldWrapper">
                    <div class="error">{{ field.errors }}</div>
                    <div>
                        {{ field.label_tag }} {{ field }}
                    </div>
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                
            {% endfor %}

            <input type='submit' value='Send'>
        </form>
    </div>
</div>
<style>
    #contactDetails{
        list-style-type: none;

    }
    .half-and-half{
        width:50%;
    }
</style>
<script>
    
</script>
{% endblock %}

